Options All -Indexes
RewriteEngine On
ErrorDocument 404 /index.php?c=index&a=error404

RewriteRule ^home/?$ index.php


RewriteRule ^obtenerCargos/?$ index.php?c=cargos&a=listarCargos
RewriteRule ^obtenerCargosID/?$ index.php?c=cargos&a=listarCargosID

RewriteRule ^guardarEmpleado/?$ index.php?c=empleados&a=guardarEmpleado
RewriteRule ^listarEmpleados/?$ index.php?c=empleados&a=listarEmpleados


RewriteRule ^login/?$ index.php?c=login&a=login
